{% extends "base.html" %}

{% block title %}{{acct}} on {{date|full_date}}{% endblock %}

{% block body %}
<h1 class="centered">{{acct}} Account on {{date|full_date}}
{% if acct.rebalance_date is not none %}
rebalanced {{acct.rebalance_date|full_date}}
{% endif %}
</h1>

<table>
<tr>
  <th>Category</th>
  <th>Balance</th>
  <th>Plan Balance</th>
  <th>Percent of Plan</th>
  <th>Peak Plan</th>
  <th>Peak Adj</th>
  <th>Fund</th>
  <th>Peak Balance</th>
  <th>Peak Percent of Balance</th>
  <th>Peak Date</th>
  <th>Trough Balance</th>
  <th>Trough Percent of Balance</th>
  <th>Trough Date</th>
</tr>
{% for cat in tree %}
<tr>
  <td>{{("&nbsp;" * (2 * (cat.depth - 1)))|safe}}{{cat.name}}</td>
  <td class="right">{{cat.balance|dollars(0)}}</td>
  <td class="right">{{cat.plan_balance|dollars(0)}}</td>
  {% if not cat.plan_balance %}
    <td></td>
  {% else %}
    <td class="right">{{(float(cat.balance) / float(cat.plan_balance))|percent(0)}}</td>
  {% endif %}
  <td class="right">{{cat.adj_plan_balance|dollars(0)}}</td>
  <td class="right">{{cat.adj_pct|percent(0)}}</td>
  <td class="right">{{cat.ticker|blank}}</td>
  {% if cat.ticker %}
    <td class="right">{{(cat.plan_balance * cat.peak_pct_of_balance)|dollars(0)}}</td>
    <td class="right">{{cat.peak_pct_of_balance|percent(0)}}</td>
    <td class="right">{{cat.peak_date|full_date}}</td>
    {% if cat.trough_pct_of_balance %}
      <td class="right">{{(cat.plan_balance * cat.trough_pct_of_balance)|dollars(0)}}</td>
    {% else %}
      <td></td>
    {% endif %}
    <td class="right">{{cat.trough_pct_of_balance|percent(0, '')}}</td>
    <td class="right">{{cat.trough_date|full_date}}</td>
  {% else %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
