{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block body %}
<p>All dates in URLs are YYYY-MM-DD</p>
<ul>
<li><a href="{{ url('index') }}">(index)</a></li>
<li><strong>account</strong>/<em>account_id</em>/<em>date</em>[/<em>tag</em>,...]</li>
<li><a href="{{ url('check_structure') }}">check_structure</a></li>
<li><a href="{{ url('dates') }}">dates</a></li>
<li><strong>get_children</strong>/<em>cat_name</em>[/<em>account_id</em>]</li>
<li><strong>get_fund</strong>/<em>cat_name</em>[/<em>account_id</em>]</li>
<li><strong>get_plan</strong>/<em>cat_name</em>[/<em>account_id</em>][/<strong>tags</strong>/<em>tag</em>,...]</li>
<li><strong>get_tree</strong>/<em>account_id</em>[/<strong>tags</strong>/<em>tag</em>,...]</li>
<li><a href="{{ url('help') }}">help</a></li>
<li><strong>load_transactions</strong>/<em>end_date</em>[/<em>filename</em>]</li>
<li><a href={{ url('load_all_fund_history') }}">load_fund_history</a>[/<em>ticker</em>]</li>
<li><strong>rebalance</strong>/<em>owner_id</em>[/<em>adj_pct</em>[/<em>filename</em>]][/<strong>tags</strong>/<em>tag</em>,...]</li>
<li><strong>rebalanced</strong>/<em>owner_id</em></li>
<li><strong>shares</strong>/<em>account_id</em>/<em>date</em></li>
<li><a href="{{ url('update_shares') }}">update_shares</a>[/&lt;int:<em>reload</em>&gt;]</li>
</ul>

To load up the data from external sources:
<ol>
<li>Load Transaction History from Vanguard.</li>
  <ol>
  <li>Download transactions from Vanguard in a .csv format.</li>
    Select the following download options on Vanguard:
    <ol>
    <li>Step 1: choose the spreadsheet-compatible CSV file.</li>
    <li>Step 2: choose the Custom date range</li>
    <ul>
    <li>From: the day after the
    transaction_end_date recorded in the Account table.</li>
    <li>To: yesterday's date (to avoid partial transactions for today).</li>
    </ul>
    </ol>
    <p>This puts an ofxdownload.csv file in your Downloads directory.  Pay
    attention to which number the browser appends to the filename, for
    example, "ofxdownload (2).csv".</p>
  </li>
  <li>load_transactions/end_date</li>
  <p>Enter the "To" date the you gave Vanguard for the download.</p>
  </ol>
<li><a href="{{ url('load_all_fund_history') }}">load_fund_history</a></li>
    <p>This automatically goes to finance.yahoo.com as needed to get fund
    dividend and price history.</p>
<li><a href="{{ url('update_shares') }}">update_shares</a></li>
    <p>This creates the AccountShare rows from the data above.</p>
</ol>
{% endblock %}
