{% extends "base.html" %}

{% block title %}Rebalance {{user.name}} Accounts{% endblock %}

{% block body %}
<h1 class="centered">Rebalance {{user.name}} Accounts
at {{adj_pct|percent(0)}} of plan.
</h1>

<table>
<tr>
  <th rowspan="2"></th>
  <th class="right">Account</th>
  {% for acct in accts %}
  <th colspan="4">{{acct.name}}</th>
  {% endfor %}
</tr>
<tr>
  <th class="right">Balance</th>
  {% for acct in accts %}
    <th colspan="4">{{balances[acct.id]|dollars(0)}}</th>
  {% endfor %}
</tr>
<tr>
  <th>Ticker</th>
  <th>Share Price</th>
  {% for acct in accts %}
    <th>Current Balance</th>
    <th>Plan</th>
    <th>Percent Change</th>
    <th>Change in Shares</th>
  {% endfor %}
</tr>
{% for ticker, share_price, acct_cats in ticker_rows %}
<tr>
  <td>{{ticker}}</td>
  <td class="right">{{share_price|dollars(3)}}</td>
  {% for cat in acct_cats %}
    {% if cat is none %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    {% else %}
      <td class="right">{{cat.balance|dollars(0)}}</td>
      <td class="right">{{cat.adj_plan_balance|dollars(0)}}</td>
      {% if abs(cat.balance) >= 1 %}
        <td class="right">{{(cat.adj_plan_balance/cat.balance - 1.0)|percent(0)}}</td>
      {% else %}
        <td></td>
      {% endif %}
      <td class="right">{{cat.change_in_shares|roundto(0)}}</td>
    {% endif %}
  {% endfor %}
</tr>
{% endfor %}
<tr>
<td>Totals</td>
<td></td>
{% for balance, current, plan in totals %}
{% if abs(balance - current) > 0.5 %}
<td class="right error">
{% else %}
<td class="right">
{% endif %}
{{current|dollars(0)}}</td>
{% if abs(balance - plan) > 0.5 %}
<td class="error">
{% else %}
<td>
{% endif %}
{{plan|dollars(0)}}</td>
<td></td>
<td></td>
{% endfor %}
</tr>
</table>
<form method="POST" action="{{ url("rebalanced", user.id) }}">
{{ csrf_input }}
<input type="submit" value="Record Date">
</form>
{% endblock %}
