{% extends "base.html" %}

{% block body %}
<h1>{{account}} on {{date}}</h1>

<h3>Balance {{balance|dollars}}</h3>

<table>
<tr>
  <th>Fund</th>
  <th>Shares</th>
  <th>Share Price</th>
  <th>Balance</th>
  <th>Peak Percent of Balance</th>
  <th>Peak Date</th>
  <th>Trough Percent of Balance</th>
  <th>Trough Date</th>
</tr>
{% for ticker, account_share in shares_by_ticker %}
<tr>
  <td>{{ticker}}</td>
  <td>{{account_share.shares|roundto(4)}}</td>
  <td>{{account_share.share_price|dollars(4)}}</td>
  <td>{{account_share.balance|dollars}}</td>
  <td>{{account_share.peak_pct_of_balance|percent(none_value='')}}</td>
  <td>{{account_share.peak_date|blank}}</td>
  <td>{{account_share.trough_pct_of_balance|percent(none_value='')}}</td>
  <td>{{account_share.trough_date|blank}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
